<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>椰壳网</title>
	<link rel="stylesheet" href="../css/comment.css">
	<link rel="stylesheet" href="../css/head.css">
	<link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<div class="head">
		<div class="company">
			<div class="head-left">
				<img src="../img/logo.png" alt="">
			</div>
			<div class="head-right">
				<ul class="head-nav">
					<a href="/">首页</a>
					<a href="/">我要出借</a>
					<a href="/">新手指引</a>
					<a href="/">安全保障</a>
				</ul>
				<div class="login">
					<a href="/">登录</a>／
					<a href="/">注册</a>
				</div>
			</div>
		</div>
	</div>
	<div class="gray padding-box">
		<div class="company white-box">
			<div class="company-title border-bottom">修改密码</div>
			<div class="company-forget-1">
				<img src="../img/icon-14.png" alt="">
			</div>
			<div class="company-forget-2">
				<p><span>原手机号</span>186****1213</p>
			</div>
			<div class="company-forget-3">
				<span class="company-forget-3-span">手机验证码</span>
				<input type="text" maxlength="6" placeholder="请输入手机验证码">
				<div class="yanzhengma2">
					<span class="js-click">点击获取</span>
					<span class="js-time">60秒后重新获取</span>
				</div>
			</div>
			<div class="submit-2">
				<input type="submit" value="下一步">
			</div>
		</div>
	</div>
		<div class="gray">
			<div class="company company-f-3">
				京ICP备01012064     服务热线   400-123-1234     现金分期
			</div>
		</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/login.js"></script>
</html>