<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>椰壳网</title>
	<link rel="stylesheet" href="../css/comment.css">
	<link rel="stylesheet" href="../css/head.css">
	<link rel="stylesheet" href="../css/index.css">
	<link rel="stylesheet" href="../css/notice.css">
	<link rel="stylesheet" href="../css/lend.css">
</head>
<body>
	<div class="head">
		<div class="company">
			<div class="head-left">
				<img src="../img/logo.png" alt="">
			</div>
			<div class="head-right">
				<ul class="head-nav">
					<a href="/">首页</a>
					<a class="active" href="/">我要出借</a>
					<a href="/">新手指引</a>
					<a href="/">安全保障</a>
				</ul>
				<div class="login">
					<a href="/">ALL的账户</a>
				</div>
			</div>
		</div>
	</div>
	<div class="gray padding-box">
		<div class="company">
			<div class="jisuanqi">
				<a href=""><img src="../img/icon-19.png" alt=""></a>
			</div>
			<img src="../img/icon-17.png" alt="">
			<p class="company-h2">现金分期</p>
			<div class="company-h3">
				<img src="../img/icon-20.png" alt=""> 温馨提示：发标时间一般在工作日的12:00、15:30、18:00，其余时间与周末随机发布标的信息
			</div>
		</div>
		<!--  -->
		<ul class="company company-5">
			<li>
				<span>标的类型</span>
				<span>日利率</span>
				<span>借款标题</span>
				<span>期限</span>
				<span>金额</span>
				<span>投标进度</span>
				<span>操作</span>
			</li>
			<li>
				<div class="company-1-span"><img src="../img/icon-12.png" alt=""></div>
				<span>1</span>
				<span>1%</span>
				<span>想买一部IphoneX</span>
				<span>10天</span>
				<span>10000元</span>
				<span><div class="js-sum"><div class="js-num" style="width:10%;"></div></div>10%</span>
				<span>还款中</span>
			</li>
			<li>
				<div class="company-1-span"><img src="../img/icon-12.png" alt=""></div>
				<span>1</span>
				<span>1%</span>
				<span>想买一部IphoneX</span>
				<span>10天</span>
				<span>10000元</span>
				<span><div class="js-sum"><div class="js-num" style="width:10%;"></div></div>10%</span>
				<span>还款中</span>
			</li>
		</ul>
		<ul class="page">
				<li class="page-null">上一页</li>
				<li class="page-active">1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>...</li>
				<li>5</li>
				<li>6</li>
				<li>下一页</li>
			</ul>
	</div>
	<div class="footer">
		<ul class="company">
			<li>
				<p class="font-darkgray">合作伙伴</p>
				<p>新浪网</p>
				<p>新浪网</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">FAQ</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">关于我们</p>
				<p>公司简介</p>
			</li>
			<li>
				<img src="../img/icon-13.png" alt="">
			</li>
			<li>
				<p class="font-darkgray">联系方式</p>
				<p class="font-big">400-123-1234</p>
				<p>服务时间    工作日   9：00—21：00      周末   9：00—18：00 </p>
			</li>
		</ul>
		</div>
		<div class="border-bottom"></div>
		<div class="company company-footer">
			<div class="company-f-1">友情链接</div>
			<ul class="company-f-2">
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
			</ul>
		</div>
		<div class="gray">
			<div class="company company-f-3">
				京ICP备01012064     服务热线   400-123-1234     现金分期
			</div>
		</div>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/notice.js"></script>
</html>