<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>椰壳网</title>
	<link rel="stylesheet" href="../css/comment.css">
	<link rel="stylesheet" href="../css/head.css">
	<link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<div class="head">
		<div class="company">
			<div class="head-left">
				<img src="../img/logo.png" alt="">
			</div>
		</div>
	</div>
	<!-- 公司简介 -->
	<div class="blue-bac">
		<div class="company">
			<div class="login-box">
				<div class="login-title">
					<span>登录</span>
					<span><a href="">注册</a></span>
				</div>
				<form action="">
					<div class="input-box">
						<input type="tel" placeholder="请输入手机号">
					</div>
					<div class="input-box">
						<input type="password" placeholder="请输入密码">
					</div>
					<div class="input-checkbox-box"><input class="input-checkbox" type="checkbox">我已阅读并接受<a href="">《注册服务协议》</a></div>
					<div class="input-box">
						<input type="submit" class="input-submit" value="立即登录">
					</div>
					<div class="input-box forget">
						<a href="">忘记密码</a>
					</div>
				</form>
			</div>
		</div>
	</div>
		<div class="gray">
			<div class="company company-f-3">
				京ICP备01012064     服务热线   400-123-1234     现金分期   
			</div>
		</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/login.js"></script>
</html>