<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>椰壳网</title>
	<link rel="stylesheet" href="../css/comment.css">
	<link rel="stylesheet" href="../css/head.css">
	<link rel="stylesheet" href="../css/count.css">
	<link rel="stylesheet" href="../css/message.css">
</head>
<body>
	<div class="head">
		<div class="company">
			<div class="head-left">
				<img src="../img/logo.png" alt="">
			</div>
			<div class="head-right">
				<ul class="head-nav">
					<a href="/">首页</a>
					<a href="/">我要出借</a>
					<a href="/">新手指引</a>
					<a href="/">安全保障</a>
				</ul>
				<div class="login">
					<a href="/">ALL的账户</a>
				</div>
			</div>
		</div>
	</div>
	<div class="gray padding-box">
		<div class="company">
			<img src="../img/icon-22.png" alt="">
			<p class="company-h2">
				<a href="">资产总览</a>
				<a href="">优惠券</a>
				<a class="active" href="">消息中心 <b>(1)</b></a>
				<a href="">账户设置</a>
			</p>
		</div>
		<!--  -->
		<div class="company">
			<div class="white-box">
				<div class="zichan">
					<div class="zichan-tit">
						<span>消息中心  共8条消息，<b class="red-font">1条未读</b> </span>
					</div>
				</div>
				<div class="zichan">
				<table class="biaodan biaodan3">
					<tr>
						<td></td>
						<td>标记</td>
						<td>时间</td>
						<td>主题</td>
						<td>详细</td>
					</tr>
					<tr class="js-tr">
						<td><input type="checkbox"></td>
						<td><img src="../img/icon-27.png" alt=""></td>
						<td>2017-10-12  23:00:00</td>
						<td>充值成功通知</td>
						<td><p>您与2017年10月12日成功充值XXX到您的XXX账户中......</p></td>
					</tr>
					<tr class="js-tr2">
						<td colspan="5" class="colspan5">
							<p>您与2017年10月12日成功充值XXX到您的XXX账户中</p>
							<img src="../img/icon-28.png" alt="">
						</td>
					</tr>
				</table>
				<div class="function">
					<span>已读</span>
					<span>删除</span>
				</div>
				<ul class="page">
					<li class="page-null">上一页</li>
					<li class="page-active">1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>...</li>
					<li>5</li>
					<li>6</li>
					<li>下一页</li>
				</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<ul class="company">
			<li>
				<p class="font-darkgray">合作伙伴</p>
				<p>新浪网</p>
				<p>新浪网</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">FAQ</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">关于我们</p>
				<p>公司简介</p>
			</li>
			<li>
				<img src="../img/icon-13.png" alt="">
			</li>
			<li>
				<p class="font-darkgray">联系方式</p>
				<p class="font-big">400-123-1234</p>
				<p>服务时间    工作日   9：00—21：00      周末   9：00—18：00 </p>
			</li>
		</ul>
	</div>
	<div class="border-bottom"></div>
	<div class="company company-footer">
		<div class="company-f-1">友情链接</div>
		<ul class="company-f-2">
			<li>友情链接</li>
			<li>友情链接</li>
			<li>友情链接</li>
			<li>友情链接</li>
			<li>友情链接</li>
			<li>友情链接</li>
		</ul>
	</div>
	<div class="gray">
		<div class="company company-f-3">
			京ICP备01012064     服务热线   400-123-1234     现金分期
		</div>
	</div>
</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/comment.js"></script>
<script src="../js/login.js"></script>
</html>