<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>椰壳网</title>
	<link rel="stylesheet" href="../css/comment.css">
	<link rel="stylesheet" href="../css/head.css">
	<link rel="stylesheet" href="../css/notice.css">
</head>
<body>
	<div class="head">
		<div class="company">
			<div class="head-left">
				<img src="../img/logo.png" alt="">
			</div>
			<div class="head-right">
				<ul class="head-nav">
					<a  class="active" href="/">首页</a>
					<a href="/">我要出借</a>
					<a href="/">新手指引</a>
					<a href="/">安全保障</a>
				</ul>
				<div class="login">
					<a href="/">ALL的账户</a>
				</div>
			</div>
		</div>
	</div>
	<div class="gray padding-box">
		<div class="company">
			<img src="../img/icon-17.png" alt="">
			<p class="company-h1">网站公告</p>
		</div>
		<div class="company white-box">
			<ul class="notice">
				<li><a href=""><div class="noticelist"><span>2017-09-25</span>客服中心系统维护公告</div></a></li>
				<li><a href=""><div class="noticelist"><span>2017-09-25</span>客服中心系统维护公告</div></a></li>
				<li><a href=""><div class="noticelist"><span>2017-09-25</span>客服中心系统维护公告</div></a></li>
				<li><a href=""><div class="noticelist"><span>2017-09-25</span>客服中心系统维护公告</div></a></li>
				<li><a href=""><div class="noticelist"><span>2017-09-25</span>客服中心系统维护公告</div></a></li>
				<li><a href=""><div class="noticelist"><span>2017-09-25</span>客服中心系统维护公告</div></a></li>
				<li><a href=""><div class="noticelist"><span>2017-09-25</span>客服中心系统维护公告</div></a></li>
				<li><a href=""><div class="noticelist"><span>2017-09-25</span>客服中心系统维护公告</div></a></li>
				<li><a href=""><div class="noticelist"><span>2017-09-25</span>客服中心系统维护公告</div></a></li>
				<li><a href=""><div class="noticelist"><span>2017-09-25</span>客服中心系统维护公告</div></a></li>
			</ul>
			<ul class="page">
				<li class="page-null">上一页</li>
				<li class="page-active">1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>...</li>
				<li>5</li>
				<li>6</li>
				<li>下一页</li>
			</ul>
		</div>
	</div>
	<div class="footer">
		<ul class="company">
			<li>
				<p class="font-darkgray">合作伙伴</p>
				<p>新浪网</p>
				<p>新浪网</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">FAQ</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">关于我们</p>
				<p>公司简介</p>
			</li>
			<li>
				<img src="../img/icon-13.png" alt="">
			</li>
			<li>
				<p class="font-darkgray">联系方式</p>
				<p class="font-big">400-123-1234</p>
				<p>服务时间    工作日   9：00—21：00      周末   9：00—18：00 </p>
			</li>
		</ul>
		</div>
		<div class="border-bottom"></div>
		<div class="company company-footer">
			<div class="company-f-1">友情链接</div>
			<ul class="company-f-2">
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
			</ul>
		</div>
		<div class="gray">
			<div class="company company-f-3">
				京ICP备01012064     服务热线   400-123-1234     现金分期
			</div>
		</div>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/notice.js"></script>
</html>