<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>椰壳网</title>
	<link rel="stylesheet" href="../css/comment.css">
	<link rel="stylesheet" href="../css/head.css">
	<link rel="stylesheet" href="../css/allStandard.css">
	<link rel="stylesheet" href="../css/novice.css">
</head>
<body>
	<div class="head">
		<div class="company">
			<div class="head-left">
				<img src="../img/logo.png" alt="">
			</div>
			<div class="head-right">
				<ul class="head-nav">
					<a  class="active" href="/">首页</a>
					<a href="/">我要出借</a>
					<a href="/">新手指引</a>
					<a href="/">安全保障</a>
				</ul>
				<div class="login">
					<a href="/">ALL的账户</a>
				</div>
			</div>
		</div>
	</div>
	<div class="gray padding-box">
		<!-- <div class="company">
			<img src="../img/icon-17.png" alt="">
			<p class="company-h1">现金分期</p>
		</div> -->
		<div class="novice-tit flex justify-between textcenter">
			<div class="flex1 padding12 bgorage">
				新手活动
			</div>
			<div class="flex1 padding12">
				关于我们
			</div>
			<div class="flex1 padding12">
				帮助中心
			</div>
		</div>
		<div class="about textcenter">
			<p class="bluecolor">我们的公司</p>
			<p class="font16 color88">我们致力于为用户创造最佳的出借管理体验</p>
			<a href="#"><span class="rightspan font14 bluecolor">查看网站公告></span></a>
			<div class="about-compony">
				<img src="../img/about-compony.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="white-box">
		<div class="company gray">
			<div class="compony-show textcenter">
				<p class="bluecolor">我们的公司</p>
				<p class="font16">行业激发了我们每一次的灵感正因如此，我们希望创造和改进的每一小步，都将成为惠及行业的一大步。</p>
			</div>
			<div class="compony-show textcenter">
				<p class="bluecolor">我们的公司</p>
				<p class="font16">行业激发了我们每一次的灵感正因如此，我们希望创造和改进的每一小步，都将成为惠及行业的一大步。</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<ul class="company">
			<li>
				<p class="font-darkgray">合作伙伴</p>
				<p>新浪网</p>
				<p>新浪网</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">FAQ</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">关于我们</p>
				<p>公司简介</p>
			</li>
			<li>
				<img src="../img/icon-13.png" alt="">
			</li>
			<li>
				<p class="font-darkgray">联系方式</p>
				<p class="font-big">400-123-1234</p>
				<p>服务时间    工作日   9：00—21：00      周末   9：00—18：00 </p>
			</li>
		</ul>
		</div>
		<div class="border-bottom"></div>
		<div class="company company-footer">
			<div class="company-f-1">友情链接</div>
			<ul class="company-f-2">
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
			</ul>
		</div>
		<div class="gray">
			<div class="company company-f-3">
				京ICP备01012064     服务热线   400-123-1234     现金分期
			</div>
		</div>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/notice.js"></script>
</html>
