<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>椰壳网</title>
	<link rel="stylesheet" href="../css/comment.css">
	<link rel="stylesheet" href="../css/head.css">
	<link rel="stylesheet" href="../css/allStandard.css">
</head>
<body>
	<div class="head">
		<div class="company">
			<div class="head-left">
				<img src="../img/logo.png" alt="">
			</div>
			<div class="head-right">
				<ul class="head-nav">
					<a  class="active" href="/">首页</a>
					<a href="/">我要出借</a>
					<a href="/">新手指引</a>
					<a href="/">安全保障</a>
				</ul>
				<div class="login">
					<a href="/">ALL的账户</a>
				</div>
			</div>
		</div>
	</div>
	<div class="gray padding-box">
		<div class="company">
			<img src="../img/icon-17.png" alt="">
			<p class="company-h1">现金分期</p>
		</div>
		<div class="company white-box bottom27">
			<div class="wantbuy">
				<div class="flex justify-between paddingbot22 borderbto">
					<div class="">
						<span class="marginri20 font20">想买一部IphoneX</span>
						<img src="../img/credit.png" alt="">
						<img src="../img/grade.png" alt="">
					</div>
					<div class="">
						<img src="../img/icon-31.png" alt="">
						<a href="#" class="blue-font">借款协议（范本）</a>
					</div>
				</div>
				<div class="flex paddingtop20 font16">
					<div class="padding25 flex flex7 rightborder">
						<div class="flex3">
							<p class="colororage"><span class="font50">24700.00</span>元</p>
							<p class="colorgrey">标的总额</p>
							<div class="colorgrey margintop27">
								<p>还款方式 <span class="rightblue">等额本息</span></p>
								<p>预计借款结清时间 <span class="rightblue">2017-12-12</span></p>
							</div>
						</div>
						<div class="flex2">
							<p class="colororage"><span class="font50">7</span>元</p>
							<p class="colorgrey">日息</p>
							<p class="font12 colorgrey">（每借一万元，一天的利息金额）</p>
						</div>
						<div class="flex1">
							<p class="colororage"><span class="font50">3</span>天</p>
							<p class="colorgrey">借款时间</p>
						</div>
					</div>
					<div class="flex5">
						<div class="padding40">
							<!-- <img src="../img/repaymenting.png" alt="">
							<p class="colorgrey margintop27">已还期数<span class="rightblue">02/06</span></p>
							<p class="colorgrey">下一个合约还款日<span class="rightblue">2017-12-23</span></p> -->
							<div class="flex alignitems">
								<span class="colorgrey">剩余可投金额</span>
								<span class="colorblue marginle20">86000元</span>
								<div class="schedule">
									<div class="inschedule">

									</div>
								</div>
								<span>50%</span>
							</div>
							<div class="money-warrp">
								<div class="flex">
									<div class="input-width">
										<input class="money-input font14" type="text" name="" value="" placeholder="100元起投，请输入投标金额(元)">
									</div>
									<div class="allin">
										全投
									</div>
								</div>
								<span class="colororage font14">错误提示区</span>
							</div>
							<button class="liji" type="button" name="button">立即加入</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="company white-box">
			<div class="paddings40">
				<div class="standard-tit flex justify-between borderbto">
					<div class="flex">
						<div class="standard-font1 rightborder colorblue tab-father">标的详情</div>
						<div class="standard-font2 tab-father">投标记录</div>
						<div class="active-blue"></div>
					</div>
					<div class="paddingtop30">
						<img src="../img/icon-19.png" alt="">
					</div>
				</div>
				<div class="tabs-three active">
					<div class="bgyellow">
						<div class="paddingbot22 borderbto colorblue">
							标的详情
						</div>
						<div class="paddings35 borderbto">
							<p class="color88 marginbto7">借款描述</p>
							<p class="font16 colorblack">申请人为某装饰工程公司负责人，公司成立1年多，个人收入稳定，家庭稳定，有固定资产，征信良好，此次借款用于扩大经营，所提供材料真实，有效。</p>
						</div>
						<div class="paddings35 borderbto color88">
							<p class="marginbto7">基本信息</p>
							<div class="flex flexwrap font16">
								<div class="width4">
									借款人<span>zhang张博9901023</span>
								</div>
								<div class="width4">
									年龄<span>41岁</span>
								</div>
								<div class="width4">
									婚姻状况<span>离异</span>
								</div>
								<div class="width4">
									学历<span>大专</span>
								</div>
							</div>
						</div>
						<div class="paddings35 borderbto color88">
							<p class="marginbto7">工作信息</p>
							<div class="flex flexwrap font16">
								<div class="width4">
									公司行业<span>零售批发</span>
								</div>
								<div class="width4">
									公司规模<span>10人以下</span>
								</div>
								<div class="width4">
									岗位职位<span>总经理</span>
								</div>
								<div class="width4">
									工作城市<span>浙江绍兴</span>
								</div>
								<div class="width4">
									工作时间<span>3-5年</span>
								</div>
								<div class="width4">
									年龄<span>41岁</span>
								</div>
								<div class="width4">
									婚姻状况<span>离异</span>
								</div>
								<div class="width4">
									学历<span>大专</span>
								</div>
							</div>
						</div>
						<div class="paddings35 borderbto color88">
							<p class=" marginbto7">工作信息</p>
							<div class="flex flexwrap font16">
								<div class="width4">
									月收入<span>5001-10000元</span>
								</div>
								<div class="width4">
									名下房产<span>有</span>
								</div>
								<div class="width4">
									名下车产<span>有</span>
								</div>
								<div class="width4">
									房屋贷款<span>有</span>
								</div>
								<div class="width4">
									汽车贷款<span>无</span>
								</div>
							</div>
						</div>
						<div class="paddings35 color88">
							<p class="marginbto7">信用档案</p>
							<div class="flex font16">
								<div class="width4">
									信用评级
								</div>
								<div class="width4">
									<p>申请贷款(笔)<span>1</span></p>
									<p>成功贷款(笔)<span>1</span></p>
								</div>
								<div class="width4">
									<p>借款总额(元)<span>24700.00</span></p>
									<p>待还本息(笔)<span>27,954.9</span></p>
								</div>
								<div class="width4">
									<p>逾期金额(元)<span>0</span></p>
									<p>逾期次数(次)<span>0</span></p>
									<p>严重逾期(笔)<span>0</span></p>
								</div>
							</div>
						</div>
					</div>
					<div class="bgyellow">
						<div class="paddingbot22 borderbto colorblue">
							审核信息
						</div>
						<div class="shenhe flex flexwrap">
							<div class="img">
								<img src="../img/icon-32.png" alt="">
								<span>身份认证</span>
							</div>
							<div class="img">
								<img src="../img/icon-33.png" alt="">
								<span>工作认证</span>
							</div>
							<div class="img">
								<img src="../img/icon-34.png" alt="">
								<span>收入认证</span>
							</div>
							<div class="img">
								<img src="../img/icon-35.png" alt="">
								<span>信用报告</span>
							</div>
							<div class="img">
								<img src="../img/icon-36.png" alt="">
								<span>实地认证</span>
							</div>
						</div>
					</div>
					<div class="bgyellow">
						<div class="paddingbot22 borderbto colorblue">
							还款记录
						</div>
						<div class="borderbto padding27 flex font16">
							<span class="flex1">还款期数</span>
							<span class="flex1">还款日</span>
							<span class="flex1">本期应还本金</span>
							<span class="flex1">本期应还利息</span>
							<span class="flex1">本期应还总额</span>
							<span class="flex1">未还本金</span>
							<span class="flex1">实际还款状态</span>
						</div>
						<div class="table-list">
							<div class="flex padding27 borderbto font16 color88">
								<span class="flex1">1/12</span>
								<span class="flex1">2015-02-15</span>
								<span class="flex1">10000.00</span>
								<span class="flex1">1000.00</span>
								<span class="flex1">11000.00</span>
								<span class="flex1">230000.00</span>
								<span class="flex1">本期已还</span>
							</div>
							<div class="flex padding27 borderbto font16 color88">
								<span class="flex1">1/12</span>
								<span class="flex1">2015-02-15</span>
								<span class="flex1">10000.00</span>
								<span class="flex1">1000.00</span>
								<span class="flex1">11000.00</span>
								<span class="flex1">230000.00</span>
								<span class="flex1">本期已还</span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-three">
					<div class="bgyellow">
						<div class="paddingbot22 borderbto colorblue font16">
							投标人次 <span>20</span>人，投资总金额 <span>12033.00</span>元
						</div>
						<div class="borderbto padding27 flex font16 paddingl15">
							<span class="flex1">序号</span>
							<span class="flex1">投标用户</span>
							<span class="flex1">投标金额</span>
							<span class="flex1">投标时间</span>
						</div>
						<div class="table-list">
							<div class="flex padding27 borderbto font16 color88 paddingl15">
								<span class="flex1">1</span>
								<span class="flex1">l***X</span>
								<span class="flex1">20000.00元</span>
								<span class="flex1">2017-09-08 15:23</span>
							</div>
							<div class="flex padding27 borderbto font16 color88 paddingl15">
								<span class="flex1">2</span>
								<span class="flex1">l***X</span>
								<span class="flex1">20000.00元</span>
								<span class="flex1">2017-09-08 15:23</span>
							</div>
						</div>
						<ul class="page">
							<li class="page-null">上一页</li>
							<li class="page-active">1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>...</li>
							<li>5</li>
							<li>6</li>
							<li>下一页</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="footer">
		<ul class="company">
			<li>
				<p class="font-darkgray">合作伙伴</p>
				<p>新浪网</p>
				<p>新浪网</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">FAQ</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">关于我们</p>
				<p>公司简介</p>
			</li>
			<li>
				<img src="../img/icon-13.png" alt="">
			</li>
			<li>
				<p class="font-darkgray">联系方式</p>
				<p class="font-big">400-123-1234</p>
				<p>服务时间    工作日   9：00—21：00      周末   9：00—18：00 </p>
			</li>
		</ul>
		</div>
		<div class="border-bottom"></div>
		<div class="company company-footer">
			<div class="company-f-1">友情链接</div>
			<ul class="company-f-2">
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
			</ul>
		</div>
		<div class="gray">
			<div class="company company-f-3">
				京ICP备01012064     服务热线   400-123-1234     现金分期
			</div>
		</div>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/comment.js"></script>
</html>
