<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>椰壳网</title>
	<link rel="stylesheet" href="../css/comment.css">
	<link rel="stylesheet" href="../css/head.css">
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
	<div class="head">
		<div class="company">
			<div class="head-left">
				<img src="../img/logo.png" alt="">
			</div>
			<div class="head-right">
				<!-- <div class="head-top-bac"></div> -->
				<ul class="head-nav">
					<a  class="active" href="/">首页</a>
					<a href="/">我要出借</a>
					<a href="/">新手指引</a>
					<a href="/">安全保障</a>
				</ul>
				<div class="login">
					<a href="/">登录</a>／
					<a href="/">注册</a>
				</div>
			</div>
		</div>
	</div>
	<!-- banner -->
	<div class="img100">
		<img src="" alt="">
	</div>
	<!-- 公司简介 -->
	<div class="company company-1">
		<div class="compant-1-left">
			<p class="h1">椰壳网</p>
			<p>——致力于为用户提供一个安全、便捷、风险可控的线上投资渠道，专业的风险控制及多方位的数据加密监控，让用户信息更加安全。椰壳匹配推荐低门槛、期限短、回报稳定的投资产品，让用户能够透明、随心的进行投资！</p>
		</div>
		<div class="compant-1-right">
			<div class="com-1-img">
				<img src="../img/icon-1.png" alt="">
			</div>
			<div class="com-1-info">
				<div class="com-1-info-1">
					<div class="com-1-info-1-1"><p>7%</p><p><img src="../img/icon-2.png" alt=""> <span>预期年化收益率</span></p></div>
					<div class="com-1-info-1-1"><p>3天</p><p><img src="../img/icon-3.png" alt=""> <span>期限</span></p></div>
					<div class="com-1-info-1-1"><p>10000元</p><p><img src="../img/icon-4.png" alt=""> <span>最高可投</span></p></div>
				</div>
				<div class="com-1-info-2">
					新手专享<a href="/">立即加入</a>
				</div>
			</div>
		</div>
	</div>
	<div class="border-bottom"></div>
	<div class="company company-2">
		<img src="../img/icon-5.png" alt="">
		<span>网站相关公告内容   <b>2017-10-31</b>
			<a href="">查看更多 <img src="../img/icon-6.png" alt=""></a>
		</span>
	</div>
	<div class="gray">
		<ul class="company company-3">
				<li><img src="../img/icon-7.png" alt=""><p>低门槛 高收益</p><p>1元起投 0手续费</p></li>
				<li><img src="../img/icon-8.png" alt=""><p>期限短 随心投</p><p>投资周期短 资金更灵活</p></li>
				<li><img src="../img/icon-9.png" alt=""><p>风险控制</p><p>多重风控品质</p></li>
				<li><img src="../img/icon-10.png" alt=""><p>数据安全</p><p>数据传输全程加密 多方位风险监控</p></li>
			</ul>
		</div>
	</div>
	<div class="company company-4">
			<span>现金分期<b>期限短，收益高</b>
				<a href="">查看更多 <img src="../img/icon-11.png" alt=""></a>
			</span>
		</div>
	</div>
	<div class="gray gray-padding">
		<ul class="company company-5">
			<li>
				<span>标的类型</span>
				<span>日利率</span>
				<span>借款标题</span>
				<span>期限</span>
				<span>金额</span>
				<span>投标进度</span>
				<span>操作</span>
			</li>
			<li>
				<div class="company-1-span"><img src="../img/icon-12.png" alt=""></div>
				<span>1</span>
				<span>1%</span>
				<span>想买一部IphoneX</span>
				<span>10天</span>
				<span>10000元</span>
				<span><div class="js-sum"><div class="js-num" style="width:10%;"></div></div>10%</span>
				<span>还款中</span>
			</li>
			<li>
				<div class="company-1-span"><img src="../img/icon-12.png" alt=""></div>
				<span>1</span>
				<span>1%</span>
				<span>想买一部IphoneX</span>
				<span>10天</span>
				<span>10000元</span>
				<span><div class="js-sum"><div class="js-num" style="width:10%;"></div></div>10%</span>
				<span>还款中</span>
			</li>
		</ul>
	</div>
	<div class="footer">
		<ul class="company">
			<li>
				<p class="font-darkgray">合作伙伴</p>
				<p>新浪网</p>
				<p>新浪网</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">FAQ</p>
				<p>新浪网</p>
			</li>
			<li>
				<p class="font-darkgray">关于我们</p>
				<p>公司简介</p>
			</li>
			<li>
				<img src="../img/icon-13.png" alt="">
			</li>
			<li>
				<p class="font-darkgray">联系方式</p>
				<p class="font-big">400-123-1234</p>
				<p>服务时间    工作日   9：00—21：00      周末   9：00—18：00 </p>
			</li>
		</ul>
		</div>
		<div class="border-bottom"></div>
		<div class="company company-footer">
			<div class="company-f-1">友情链接</div>
			<ul class="company-f-2">
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
				<li>友情链接</li>
			</ul>
		</div>
		<div class="gray">
			<div class="company company-f-3">
				京ICP备01012064     服务热线   400-123-1234     现金分期   
			</div>
		</div>
	</div>
</body>
</html>